work.domussimob.com.br/workflows/Chatwoot_Atendimento_Contato_criado.json
{
  "createdAt": "2025-09-05T14:09:53.120Z",
  "updatedAt": "2025-10-07T21:59:33.738Z",
  "id": "DenOwpbR3bV02QlN",
  "name": "Chatwoot_Atendimento_Contato_criado",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contato_criado_web",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        80
      ],
      "id": "0722f808-aac2-4fbe-9a12-657444cbdd8a",
      "name": "Webhook",
      "webhookId": "4d77525d-0875-41df-b7bc-a56a688481e6"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatwootUrl",
              "value": "https://atendimento.domussimob.com.br"
            },
            {
              "name": "chatwootToken",
              "value": "v5KbHpAurkE5q1okNXWyVYTh"
            },
            {
              "name": "chatwootAccountId",
              "value": "={{ $json.body.account.id }}"
            },
            {
              "name": "identifier",
              "value": "={{ $json.body.identifier }}"
            },
            {
              "name": "phonenumber",
              "value": "={{ $json.body.phone_number.replace(/\\D/g, '')}}"
            },
            {
              "name": "krayinUrl",
              "value": "https://crm.domussimob.com.br"
            },
            {
              "name": "krayinEmail",
              "value": "domussimob@gmail.com"
            },
            {
              "name": "krayinSenha",
              "value": "gCrjaY7VbR9MJh49"
            },
            {
              "name": "contact_name",
              "value": "={{ $json.body.name }}"
            }
          ],
          "number": [
            {
              "name": "contact_id",
              "value": "={{ $json.body.id }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "8e1f3ab6-7e88-4301-9fa1-237024c65180",
      "name": "Info Base",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -176,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base').item.json.krayinUrl }}/api/v1/login",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Info Base').item.json.krayinEmail }}"
            },
            {
              "name": "password",
              "value": "={{ $('Info Base').item.json.krayinSenha }}"
            },
            {
              "name": "device_name",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "id": "a6b847fe-59df-44e8-9503-f42c2a97b102",
      "name": "HTTP login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        96
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base').item.json.krayinUrl }}/api/v1/contacts/persons",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('HTTP login').item.json.token }}"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Info Base').item.json.contact_name }}\",\n \"identifier\": \"{{ $('Info Base').item.json.identifier }}\",\n  \"emails\": [\n    {\n      \"value\": \"{{ $('Info Base').item.json.identifier }}\",\n      \"label\": \"work\"\n    }\n  ],\n  \"contact_numbers\": [\n    {\n      \"value\": \"{{ $('Info Base').item.json.phonenumber }}\",\n      \"label\": \"work\"\n    }\n  ],\n  \"entity_type\": \"persons\"\n}",
        "options": {}
      },
      "id": "7b7407e2-dcd9-4893-8d14-f735d545a4cd",
      "name": "HTTP criar usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        112
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 5
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29471e8e-0bf1-4dd1-88f8-10db9e48cae1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        80
      ],
      "id": "1736f04a-8f5c-46b8-9654-e95114fa661e",
      "name": "Contato_existe?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        704,
        -192
      ],
      "id": "93f89df2-dcca-4a2f-b675-57c50fcf686d",
      "name": "fim"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversations",
          "mode": "list",
          "cachedResultName": "conversations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "contact_id",
              "value": "={{ $('Info Base').item.json.contact_id }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        112
      ],
      "id": "bc4e2eaa-31ac-42db-ba6c-1b7191400fe4",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "WfYQSjRZbcT1Mx8H",
          "name": "Postgres chatwootee8f16a"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "title",
              "value": "=Negócio {{ $('Info Base').item.json.contact_name }}"
            },
            {
              "column": "lead_value",
              "value": "8400"
            },
            {
              "column": "status",
              "value": "1"
            },
            {
              "column": "lead_source_id",
              "value": "11"
            },
            {
              "column": "lead_type_id",
              "value": "1"
            },
            {
              "column": "lead_pipeline_id",
              "value": "1"
            },
            {
              "column": "lead_pipeline_stage_id",
              "value": "2"
            },
            {
              "column": "created_at",
              "value": "={{ $now.plus().toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
            },
            {
              "column": "updated_at",
              "value": "={{ $now.plus().toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
            },
            {
              "column": "expected_close_date",
              "value": "={{ $now.plus({ days: 4 }).toFormat(\"yyyy-MM-dd HH:mm:ss\") }} "
            },
            {
              "column": "person_id",
              "value": "={{ $('HTTP criar usuario').item.json.data.id }}"
            },
            {
              "column": "user_id",
              "value": "={{ $json.assignee_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1ba081de-690d-4be9-a781-4fedb45a7bff",
      "name": "Cadastra Lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1280,
        96
      ],
      "credentials": {
        "mySql": {
          "id": "8z7GmmoppjsNzeZR",
          "name": "MySQL krayincrm321a1a2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "persons",
          "mode": "list",
          "cachedResultName": "persons"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $('HTTP criar usuario').item.json.data.id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $('Select rows from a table').item.json.assignee_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1568,
        96
      ],
      "id": "e7b575d6-c259-4e47-ae19-2d971dd7e680",
      "name": "Update rows in a table",
      "credentials": {
        "mySql": {
          "id": "8z7GmmoppjsNzeZR",
          "name": "MySQL krayincrm321a1a2"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -400,
        64
      ],
      "id": "8908b124-3503-4605-acd9-baea15275e3b",
      "name": "Wait",
      "webhookId": "7b418319-79d3-42ea-b753-fc126f7ccd2b"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "persons",
          "mode": "list",
          "cachedResultName": "persons"
        },
        "where": {
          "values": [
            {
              "column": "emails",
              "condition": "LIKE",
              "value": "=%{{ $json.identifier }}%"
            }
          ]
        },
        "options": {}
      },
      "id": "455777ab-c87f-4c67-a712-8cda9076cee2",
      "name": "Procura_contato_no_CRM",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        48,
        48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "8z7GmmoppjsNzeZR",
          "name": "MySQL krayincrm321a1a2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info Base": {
      "main": [
        [
          {
            "node": "Procura_contato_no_CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP login": {
      "main": [
        [
          {
            "node": "HTTP criar usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato_existe?": {
      "main": [
        [
          {
            "node": "fim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP criar usuario": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Cadastra Lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastra Lead1": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Info Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procura_contato_no_CRM": {
      "main": [
        [
          {
            "node": "Contato_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "632481ce-95b3-4c51-b5be-fc4d40fd9dc8",
  "triggerCount": 1,
  "tags": []
}