work.domussimob.com.br/workflows/Nota_criada_pausa_conversa.json
{
  "createdAt": "2025-09-26T18:24:55.308Z",
  "updatedAt": "2025-09-26T22:29:57.817Z",
  "id": "cn6Ts2KndkKnKSvf",
  "name": "Nota_criada_pausa_conversa",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "tableName": {
          "__rl": true,
          "value": "messages",
          "mode": "list",
          "cachedResultName": "messages"
        },
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -256
      ],
      "id": "15998101-395e-4aef-adec-94bd9157a4bf",
      "name": "Mensagem criada",
      "credentials": {
        "postgres": {
          "id": "WfYQSjRZbcT1Mx8H",
          "name": "Postgres chatwootee8f16a"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "09ac8741-2358-44fc-aa80-d2090affe9c4",
              "leftValue": "={{ $json.payload.private }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -240
      ],
      "id": "fac24314-f944-40ca-97ee-885de455ba40",
      "name": "Nota_Privada?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -272,
        -64
      ],
      "id": "6af44e95-d8b7-4a8a-84b5-e56a614b13fd",
      "name": "fim"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82031118-8ac3-4e95-b13d-69d658fe4829",
              "name": "chatwoot_url",
              "value": "https://atendimento.domussimob.com.br",
              "type": "string"
            },
            {
              "id": "ccd641ba-e287-4a7e-ab33-0268cb1616ce",
              "name": "api_user_token",
              "value": "v5KbHpAurkE5q1okNXWyVYTh",
              "type": "string"
            },
            {
              "id": "cf9585eb-08f2-4cba-94fc-1e704973d043",
              "name": "chatwoot_account_id",
              "value": 1,
              "type": "number"
            },
            {
              "id": "98c061fc-72d8-406e-b8f8-479264cf2bf7",
              "name": "conversation_id",
              "value": "={{ $json.payload.conversation_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -256
      ],
      "id": "83f5a030-1751-400b-b3ec-2b6c62e81b87",
      "name": "info base1"
    },
    {
      "parameters": {
        "url": "={{ $json.chatwoot_url }}/api/v1/accounts/{{ $json.payload.account_id }}/conversations/{{ $json.conversation_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{ $json.api_user_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -272
      ],
      "id": "02b55cae-6db1-4ad6-b60b-29c148757847",
      "name": "busca_conversa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.domussimob.com.br/webhook/chatwoot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n {\n      \"account\": {\n        \"id\": {{ $json.messages[0].account_id }},\n        \"name\": \"Domuss\"\n      },\n      \"additional_attributes\": {},\n      \"content_attributes\": {},\n      \"content_type\": \"{{ $json.messages[0].content_type }}\",\n      \"content\": \"{{ $json.messages[0].content }}\",\n      \"conversation\": {\n        \"additional_attributes\": {},\n        \"can_reply\": true,\n        \"channel\": \"{{ $json.meta.channel }}\",\n        \"contact_inbox\": {\n          \"id\": 90,\n          \"contact_id\": {{ $json.meta.sender.id }},\n          \"inbox_id\": {{ $json.messages[0].inbox_id }},\n          \"source_id\": \"{{ $json.messages[0].conversation.contact_inbox.source_id }}\",\n          \"created_at\": {{ $json.messages[0].created_at }},\n          \"updated_at\": \"{{ $json.messages[0].updated_at }}\",\n          \"hmac_verified\": false,\n          \"pubsub_token\": \"RsGghyxyL18RahwdkRVfh3Te\"\n        },\n        \"id\": {{ $json.messages[0].conversation_id }},\n        \"inbox_id\": {{ $json.messages[0].inbox_id }},\n        \"messages\": [\n          {\n            \"id\": {{ $json.messages[0].id }},\n            \"content\": \"{{ $json.messages[0].content }}\",\n            \"account_id\": {{ $json.messages[0].account_id }},\n            \"inbox_id\": {{ $json.messages[0].inbox_id }},\n            \"conversation_id\": {{ $json.messages[0].conversation_id }},\n            \"message_type\": {{ $json.messages[0].message_type }},\n            \"created_at\": {{ $json.messages[0].created_at }},\n            \"updated_at\": \"{{ $json.messages[0].updated_at }}\",\n            \"private\": false,\n            \"status\": \"{{ $json.messages[0].status }}\",\n            \"source_id\": {{ $json.messages[0].source_id }},\n            \"content_type\": \"{{ $json.messages[0].content_type }}\",\n            \"content_attributes\": {},\n            \"sender_type\": \"{{ $json.last_non_activity_message.sender_type }}\",\n            \"sender_id\": {{ $json.messages[0].sender_id }},\n            \"external_source_ids\": {},\n            \"additional_attributes\": {},\n            \"processed_message_content\": \"{{ $json.messages[0].processed_message_content }}\",\n            \"sentiment\": {},\n            \"conversation\": {\n              \"assignee_id\": {{ $json.messages[0].conversation.assignee_id }},\n              \"unread_count\": {{ $json.messages[0].conversation.unread_count }},\n              \"last_activity_at\": {{ $json.messages[0].conversation.last_activity_at }},\n              \"contact_inbox\": {\n                \"source_id\": \"{{ $json.messages[0].conversation.contact_inbox.source_id }}\"\n              }\n            },\n            \"sender\": {\n              \"id\": {{ $json.last_non_activity_message.sender.id }},\n              \"name\": \"{{ $json.last_non_activity_message.sender.name }}\",\n              \"available_name\": \"{{ $json.last_non_activity_message.sender.available_name }}\",\n              \"avatar_url\": \"\",\n              \"type\": \"{{ $json.last_non_activity_message.sender.type }}\",\n              \"availability_status\": \"{{ $json.last_non_activity_message.sender.availability_status }}\",\n              \"thumbnail\": \"\"\n            }\n          }\n        ],\n        \"labels\": {{ $json.labels2 }},\n        \"meta\": {\n          \"sender\": {\n            \"additional_attributes\": {},\n            \"custom_attributes\": {\n              \"status\": \"{{ $json.meta.sender.custom_attributes.status }}\"\n            },\n            \"email\": {{ $json.meta.sender.email }},\n            \"id\": {{ $json.meta.sender.id }},\n            \"identifier\": \"{{ $json.meta.sender.identifier }}\",\n            \"name\": \"{{ $json.meta.sender.name }}\",\n            \"phone_number\": \"{{ $json.meta.sender.phone_number }}\",\n            \"thumbnail\": \"{{ $json.meta.sender.thumbnail }}\",\n            \"type\": \"contact\"\n          },\n          \"assignee\": {\n            \"id\": {{ $json.meta.assignee.id }},\n            \"name\": \"{{ $json.meta.assignee.name }}\",\n            \"available_name\": \"{{ $json.meta.assignee.available_name }}\",\n            \"avatar_url\": \"\",\n            \"type\": \"user\",\n            \"availability_status\": \"{{ $json.meta.assignee.availability_status }}\",\n            \"thumbnail\": \"\"\n          },\n          \"team\": null,\n          \"hmac_verified\": false\n        },\n        \"status\": \"{{ $json.status }}\",\n        \"custom_attributes\": {},\n        \"snoozed_until\": null,\n        \"unread_count\": 0,\n        \"first_reply_created_at\": {{ $json.first_reply_created_at }},\n        \"priority\": null,\n        \"waiting_since\": 1758910352,\n        \"agent_last_seen_at\": 1758918868,\n        \"contact_last_seen_at\": 0,\n        \"last_activity_at\": {{ $json.last_activity_at }},\n        \"timestamp\": {{ $json.timestamp }},\n        \"created_at\": {{ $json.last_non_activity_message.created_at }}\n      },\n      \"created_at\": {{ $json.last_non_activity_message.created_at }},\n      \"id\": {{ $json.last_non_activity_message.id }},\n      \"inbox\": {\n        \"id\": {{ $json.messages[0].inbox_id }},\n        \"name\": \"Atendimento\"\n      },\n      \"message_type\": \"outgoing\",\n      \"status\": \"{{ $json.messages[0].status }}\",\n      \"private\": false,\n      \"sender\": {\n        \"id\": {{ $json.last_non_activity_message.sender.id }},\n        \"name\": \"{{ $json.last_non_activity_message.sender.name }}\",\n        \"email\": \"\",\n        \"type\": \"{{ $json.last_non_activity_message.sender.type }}\"\n      },\n      \"source_id\": null,\n      \"event\": \"message_created\"\n    }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        -336
      ],
      "id": "cbae7292-5dea-4ab3-abfc-57cdaafd4293",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b7c8bc5-7fb8-4021-b7ae-951c285054c2",
              "name": "labels2",
              "value": "={{ $json.labels }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -336
      ],
      "id": "d7f0a46e-7480-4a5b-b815-3680237d46cf",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Mensagem criada": {
      "main": [
        [
          {
            "node": "Nota_Privada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nota_Privada?": {
      "main": [
        [
          {
            "node": "info base1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info base1": {
      "main": [
        [
          {
            "node": "busca_conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_conversa": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Mensagem criada": [
      {
        "json": {
          "length": 502,
          "processId": 22276,
          "channel": "n8n_channel_15998101_395e_4aef_adec_94bd9157a4bf",
          "payload": {
            "id": 24592,
            "content": "Teste mensagem privada 2",
            "account_id": 1,
            "inbox_id": 2,
            "conversation_id": 51,
            "message_type": 1,
            "created_at": "2025-09-26T18:34:01.767804",
            "updated_at": "2025-09-26T18:34:01.767804",
            "private": true,
            "status": 0,
            "source_id": null,
            "content_type": 0,
            "content_attributes": null,
            "sender_type": "User",
            "sender_id": 5,
            "external_source_ids": null,
            "additional_attributes": {},
            "processed_message_content": "Teste mensagem privada 2",
            "sentiment": {}
          },
          "name": "notification"
        }
      }
    ]
  },
  "versionId": "d469e863-b982-49c5-ba50-709373e082f4",
  "triggerCount": 1,
  "tags": []
}