work.domussimob.com.br/workflows/Nota_criada_pausa_conversa.json
{
  "createdAt": "2025-09-26T18:24:55.308Z",
  "updatedAt": "2025-09-27T15:56:49.160Z",
  "id": "cn6Ts2KndkKnKSvf",
  "name": "Nota_criada_pausa_conversa",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "tableName": {
          "__rl": true,
          "value": "messages",
          "mode": "list",
          "cachedResultName": "messages"
        },
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -256
      ],
      "id": "15998101-395e-4aef-adec-94bd9157a4bf",
      "name": "Mensagem criada",
      "credentials": {
        "postgres": {
          "id": "WfYQSjRZbcT1Mx8H",
          "name": "Postgres chatwootee8f16a"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "09ac8741-2358-44fc-aa80-d2090affe9c4",
              "leftValue": "={{ $json.payload.private }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -240
      ],
      "id": "fac24314-f944-40ca-97ee-885de455ba40",
      "name": "Nota_Privada?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -272,
        -64
      ],
      "id": "6af44e95-d8b7-4a8a-84b5-e56a614b13fd",
      "name": "fim"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82031118-8ac3-4e95-b13d-69d658fe4829",
              "name": "chatwoot_url",
              "value": "https://atendimento.domussimob.com.br",
              "type": "string"
            },
            {
              "id": "ccd641ba-e287-4a7e-ab33-0268cb1616ce",
              "name": "api_user_token",
              "value": "v5KbHpAurkE5q1okNXWyVYTh",
              "type": "string"
            },
            {
              "id": "cf9585eb-08f2-4cba-94fc-1e704973d043",
              "name": "chatwoot_account_id",
              "value": 1,
              "type": "number"
            },
            {
              "id": "98c061fc-72d8-406e-b8f8-479264cf2bf7",
              "name": "conversation_id",
              "value": "={{ $json.payload.conversation_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -256
      ],
      "id": "83f5a030-1751-400b-b3ec-2b6c62e81b87",
      "name": "info base1"
    },
    {
      "parameters": {
        "url": "={{ $json.chatwoot_url }}/api/v1/accounts/{{ $json.payload.account_id }}/conversations/{{ $json.conversation_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{ $json.api_user_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -272
      ],
      "id": "02b55cae-6db1-4ad6-b60b-29c148757847",
      "name": "busca_conversa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.domussimob.com.br/webhook/chatwoot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"account\": {\n    \"id\": {{ $json.last_non_activity_message.account_id }},\n    \"name\": \"Domuss\"\n  },\n  \"content_type\": \"{{ $json.last_non_activity_message.content_type }}\",\n  \"content\": \"{{ $json.last_non_activity_message.content }}\",\n  \"conversation\": {\n    \"can_reply\": true,\n    \"channel\": \"{{ $json.meta.channel }}\",\n    \"contact_inbox\": {\n      \"id\": 90,\n      \"contact_id\": {{ $json.meta.sender.id }},\n      \"inbox_id\": 2,\n      \"source_id\": \"{{ $json.last_non_activity_message.conversation.contact_inbox.source_id }}\",\n      \"created_at\": \"2025-09-26T21:45:04.703Z\",\n      \"updated_at\": \"2025-09-26T21:45:04.703Z\",\n      \"hmac_verified\": false,\n      \"pubsub_token\": \"RsGghyxyL18RahwdkRVfh3Te\"\n    },\n    \"id\": {{ $json.last_non_activity_message.conversation_id }},\n    \"inbox_id\": 2,\n    \"messages\": [\n      {\n        \"id\": 24598,\n        \"content\": \"Anna adicionou ia-ativada\",\n        \"account_id\": 1,\n        \"inbox_id\": 2,\n        \"conversation_id\": 51,\n        \"message_type\": 2,\n        \"created_at\": \"2025-09-26T21:45:04.703Z\",\n        \"updated_at\": \"2025-09-26T21:45:04.703Z\",\n        \"private\": false,\n        \"status\": \"sent\",\n        \"source_id\": null,\n        \"content_type\": \"text\",\n        \"sender_type\": \"User\",\n        \"sender_id\": null,\n        \"processed_message_content\": \"Anna adicionou ia-ativada\",\n        \"conversation\": {\n          \"assignee_id\": 3,\n          \"unread_count\": 0,\n          \"last_activity_at\": \"2025-09-26T21:45:04.703Z\",\n          \"contact_inbox\": {\n            \"source_id\": \"1494d8ba-96c6-4307-aaf8-ec3bb9fd508e\"\n          }\n        },\n        \"sender\": {\n          \"id\": 5,\n          \"name\": \"Anna\",\n          \"available_name\": \"Anna\",\n          \"avatar_url\": \"\",\n          \"type\": \"User\",\n          \"availability_status\": \"offline\",\n          \"thumbnail\": \"\"\n        }\n      }\n    ],\n    \"labels\": [\"novo-lead\", \"ia-ativada\"],\n    \"meta\": {\n      \"sender\": {\n        \"custom_attributes\": {\n          \"status\": \"novo-lead\"\n        },\n        \"id\": 50,\n        \"identifier\": \"5511968162690@s.whatsapp.net\",\n        \"name\": \"Francis Breit\",\n        \"phone_number\": \"+5511968162690\",\n        \"thumbnail\": \"https://atendimento.domussimob.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBYU09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--dfaf9866e6c0bdc7c7fb3b69bd46254000766790/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--b5f4a82b7d562aab27bce6b818c8138e244199b4/372249044_1019085773139997_6219661171856510649_n.jpg\",\n        \"type\": \"contact\"\n      },\n      \"assignee\": {\n        \"id\": 3,\n        \"name\": \"Jean\",\n        \"available_name\": \"Jean\",\n        \"type\": \"user\",\n        \"availability_status\": \"offline\"\n      },\n      \"hmac_verified\": false\n    },\n    \"status\": \"open\",\n    \"unread_count\": 0,\n    \"last_activity_at\": \"2025-09-26T21:45:04.703Z\",\n    \"created_at\": \"2025-09-26T21:45:04.703Z\"\n  },\n  \"created_at\": \"2025-09-26T21:45:04.703Z\",\n  \"id\": 24594,\n  \"inbox\": {\n    \"id\": 2,\n    \"name\": \"Atendimento\"\n  },\n  \"message_type\": \"outgoing\",\n  \"status\": \"sent\",\n  \"private\": false,\n  \"sender\": {\n    \"id\": 5,\n    \"name\": \"Anna\",\n    \"email\": \"\",\n    \"type\": \"user\"\n  },\n  \"source_id\": null,\n  \"event\": \"message_created\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        -336
      ],
      "id": "cbae7292-5dea-4ab3-abfc-57cdaafd4293",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b7c8bc5-7fb8-4021-b7ae-951c285054c2",
              "name": "labels2",
              "value": "={{ $json.labels }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -336
      ],
      "id": "d7f0a46e-7480-4a5b-b815-3680237d46cf",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Mensagem criada": {
      "main": [
        [
          {
            "node": "Nota_Privada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nota_Privada?": {
      "main": [
        [
          {
            "node": "info base1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info base1": {
      "main": [
        [
          {
            "node": "busca_conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_conversa": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Mensagem criada": [
      {
        "json": {
          "length": 502,
          "processId": 22276,
          "channel": "n8n_channel_15998101_395e_4aef_adec_94bd9157a4bf",
          "payload": {
            "id": 24592,
            "content": "Teste mensagem privada 2",
            "account_id": 1,
            "inbox_id": 2,
            "conversation_id": 51,
            "message_type": 1,
            "created_at": "2025-09-26T18:34:01.767804",
            "updated_at": "2025-09-26T18:34:01.767804",
            "private": true,
            "status": 0,
            "source_id": null,
            "content_type": 0,
            "content_attributes": null,
            "sender_type": "User",
            "sender_id": 5,
            "external_source_ids": null,
            "additional_attributes": {},
            "processed_message_content": "Teste mensagem privada 2",
            "sentiment": {}
          },
          "name": "notification"
        }
      }
    ]
  },
  "versionId": "c5f61308-ac28-4023-be23-09ae34493b69",
  "triggerCount": 1,
  "tags": []
}