work.domussimob.com.br/workflows/Qdrant - criador de collection.json
{
  "createdAt": "2025-09-09T12:45:23.564Z",
  "updatedAt": "2025-09-09T12:45:23.564Z",
  "id": "IMLjLCx2KUsosNqj",
  "name": "Qdrant - criador de collection",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fa4718fd-b4c0-4751-af64-6039d779be35",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://{{ $json.service_qdrant }}:6333/collections/{{ $json.collection_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\": {\n    \"size\": 1536,\n    \"distance\": \"Cosine\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        20
      ],
      "id": "d6605ff4-daef-425a-9021-4688fa430d6b",
      "name": "cria Collection - qdrant"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69e2b9a9-c725-4401-96af-8f4c97eb05d8",
              "name": "collection_name",
              "value": "teste2000",
              "type": "string"
            },
            {
              "id": "21469f9d-cec5-42d6-af23-341eff3b84d5",
              "name": "service_qdrant",
              "value": "qdrant5f701fd",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        0
      ],
      "id": "bbc9582c-4c94-409a-aa70-a3ebf408ff84",
      "name": "config"
    },
    {
      "parameters": {
        "content": "\n![Source example](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRzKvEU6RAPF6tAN51GyCJSnXdVE07B1JEWw&s#full-width)",
        "height": 240,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        240
      ],
      "typeVersion": 1,
      "id": "ca8fdd99-d27c-44e6-96e9-231777392678",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "cria Collection - qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "da2787bc-b724-4529-9be2-b48c6cd864c7",
  "triggerCount": 0,
  "tags": []
}