work.domussimob.com.br/workflows/Qdrant_criador_collection.json
{
  "createdAt": "2025-09-10T15:50:20.314Z",
  "updatedAt": "2025-09-10T15:51:54.621Z",
  "id": "dUIfveDSPEotMKtT",
  "name": "Qdrant_criador_collection",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        448,
        -256
      ],
      "id": "591865a6-a90f-4c84-ba10-b03d98918f25",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://{{ $json.service_qdrant }}:6333/collections/{{ $json.collection_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\": {\n    \"size\": 1536,\n    \"distance\": \"Cosine\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        -224
      ],
      "id": "73098fdc-8332-46e5-8899-be1f33a0e482",
      "name": "cria Collection - qdrant"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69e2b9a9-c725-4401-96af-8f4c97eb05d8",
              "name": "collection_name",
              "value": "anna",
              "type": "string"
            },
            {
              "id": "21469f9d-cec5-42d6-af23-341eff3b84d5",
              "name": "service_qdrant",
              "value": "qdrant3f1b88b",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -256
      ],
      "id": "de9c5571-7dee-4dfa-84fc-dbed305d637c",
      "name": "config"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "cria Collection - qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7d3345fc-1b8a-4f51-9103-2981512de9f3",
  "triggerCount": 0,
  "tags": []
}